

{% extends 'twipymap2/user/base.html' %}

{% load i18n %}

{% block filename %}
  /home/usuario2012/Documents/Apptwipymap2/twipymap2/templates/twipymap2/user/user_list.html
{% endblock %}

{% block header-link %}
  <a href='{% url twipymap2_user_list %}'>
    {% trans "User List" %}
  </a>
{% endblock %}

{% block header-description %}
  {% trans "A page representing a list of objects." %}
{% endblock %}

{% block content %}
  <h2>
    {% trans "Users" %}
  </h2>
  {% include 'twipymap2/user/object_table_list.html' %}
  {% include 'twipymap2/user/pagination.html' %}
{% endblock %}
