

{% extends 'twipymap2/contact/base.html' %}

{% load i18n %}

{% block filename %}
  /home/usuario2012/Documents/Apptwipymap2/twipymap2/templates/twipymap2/contact/contact_archive.html
{% endblock %}
{% block title %}
  {% trans "Contact Archive Index" %}
{% endblock %}
{% block breadcrumbs %}
  <ul class='breadcrumb'>
    <li>
      <a href='{% url twipymap2_contact_archive_index %}'>
        {% trans "Archive Index" %}
      </a>
    </li>
  </ul>
{% endblock %}
{% block header-link %}
  <a href='{% url twipymap2_contact_archive_index %}'>
    {% trans "Contact Archive Index" %}
  </a>
{% endblock %}
{% block header-description %}
  {% trans "A top-level index page showing the latest objects, by date." %}
{% endblock %}
{% block content %}
  <h2>
    By Year
  </h2>
  <ul class='nav nav-tabs nav-stacked'>
    {% for date in date_list %}
      <li>
        <a href='{% url twipymap2_contact_year_archive year=date.year %}'>
          {{ date.year }}
        </a>
      </li>
    {% endfor %}
  </ul>
  <h2>
    {% trans "Recent Contacts" %}
  </h2>
  {% include 'twipymap2/contact/object_table_list.html' %}
  {% include 'twipymap2/contact/pagination.html' %}
{% endblock %}
