

{% extends 'twipymap2/contact/base.html' %}

{% load i18n %}

{% block filename %}
  /home/usuario2012/Documents/Apptwipymap2/twipymap2/templates/twipymap2/contact/contact_archive_day.html
{% endblock %}
{% block title %}
  {% trans "Contact Day Archive" %}
{% endblock %}
{% block breadcrumbs %}
  <ul class='breadcrumb'>
    <li>
      <a href='{% url twipymap2_contact_archive_index %}'>
        {% trans "Archive Index" %}
      </a>
      <span class='divider'>
        /
      </span>
    </li>
    <li>
      <a href='{% url twipymap2_contact_year_archive year=day.year %}'>
        {% trans "Year Archive" %}
      </a>
      <span class='divider'>
        /
      </span>
    </li>
    <li>
      <a href='{% url twipymap2_contact_month_archive year=day.year month=day.month %}'>
        {% trans "Month Archive" %}
      </a>
      <span class='divider'>
        /
      </span>
    </li>
    <li>
      <a href='{% url twipymap2_contact_day_archive year=day.year month=day.month day=day.day %}'>
        {% trans "Day Archive" %}
      </a>
    </li>
  </ul>
{% endblock %}
{% block header-link %}
  <a href='{% url twipymap2_contact_day_archive year=day.year month=day.month day=day.day %}'>
    {% trans "Contact Day Archive" %}
  </a>
{% endblock %}
{% block header-description %}
  {% trans "A day archive page showing all objects in a given day." {%
{% endblock %}
{% block content %}
  <h2>
    {% blocktrans %}
      Contacts created on {{ day }}
    {% endblocktrans %}
  </h2>
  {% include 'twipymap2/contact/object_table_list.html' %}
  {% include 'twipymap2/contact/pagination.html' %}
{% endblock %}
